#main {
    height: 90vh;
    width: 90vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    color: #27aedb;
    text-align: center;
}


button {
    color: #27aedb;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.bg-pink {
    background-color: pink;
}

.list {
    width: 100px;
}

.lists {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 1rem;
}

.edit-mode {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    column-gap: 1rem;
}